@font-face {
  font-family: "Tiket Odyssey Display";
  src: url("/fonts/TiketOdysseyDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tiket Odyssey Display";
  src: url("/fonts/TiketOdysseyDisplay-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Tiket Odyssey Display";
  src: url("/fonts/TiketOdysseyDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Tiket Odyssey Display";
  src: url("/fonts/TiketOdysseyDisplay-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Tiket Odyssey Display";
  src: url("/fonts/TiketOdysseyDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Tiket Odyssey Display";
  src: url("/fonts/TiketOdysseyDisplay-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Tiket Odyssey Display";
  src: url("/fonts/TiketOdysseyDisplay-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Tiket Odyssey Display";
  src: url("/fonts/TiketOdysseyDisplay-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
